.button {
  align-self: flex-start;
  background-color: #228b22;
  min-width: 150px;
  height: 40px;
  border: none;
  border-radius: 8px;
  color: #fff;
  font-family: "Cairo";
  cursor: pointer;
  font-size: 16px;
  line-height: 1;
  transition: all 0.2s ease-in-out;
  &:hover {
    background-color: #008000;
  }
  &:active {
    transform: scale(0.95);
  }
}
