.title {
  text-align: center;
}

.newsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  @media (min-width: 768px) {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }
  gap: 32px;
  row-gap: 64px;
  margin-top: 32px;
  padding: 0 32px;
  margin-bottom: 48px;
}

.pcontainer {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 48px;
  margin-top: 32px;
}
