.match {
  display: flex;
  justify-content: space-between;
  max-width: 600px;
  margin: 0 auto;
  background-color: #222;
  padding: 32px 48px;
  border-radius: 16px;
  margin-bottom: 32px;

  @media (max-width: 576px) {
    gap: 32px;
    flex-direction: column;
  }
  &:last-child {
    margin-bottom: 48px;
  }
}

.opponent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.image {
  border-radius: 50%;
  overflow: hidden;
  height: 96px;
  width: 96px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  div {
    font-weight: bold;
    font-size: 32px;
  }
  & > div:first-child {
    font-size: 16px;
    font-weight: 400;
    background-color: #333;
    padding: 8px 12px;
    border-radius: 8px;
    line-height: 1;
    user-select: none;
  }
  & > div:last-child {
    font-size: 16px;
    font-weight: 400;
  }
}
